<h3 class="text-3xl font-bold dark:text-white">Información personal</h3>
<div class="grid grid-cols-1 gap-6 sm:grid-cols-3">
    <p class="mb-3 text-gray-500 dark:text-gray-400">Habilidades blandas: Me considero una persona paciente, que analiza la situación para crear un plan y ejecutarlo.
        Tambien, mantengo mi compostura en situaciones bajo presión para evitar cometer errores futuros. Tambien tengo un buen conocimiento del idioma ingles.
    Puedo leerlo, escribirlo, escucharlo y hablarlo.</p>
    <p class="mb-3 text-gray-500 dark:text-gray-400">Habilidades técnicas: He hecho varios talleres de programación en Python, Visual Studio Code, Java, Unity y GitHub.</p>
    <p class="mb-3 text-gray-500 dark:text-gray-400">Proyectos destacados: He trabajado en proyectos enfocados en Unity, como la creacion de un juego web y para moviles. Lo hice con un equipo de 5 personasEl enlace para acceder a mis repositorios Github es: .</p>
</div>