<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col items-center pb-10">
        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="C:\Users\damat\Desktop\Intro desarrollo web movil\ucnLogo.png" alt="Dantte image"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Dantte Márquez Tuohy</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">Estudiante Universitario UCN</span>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Tercer año de universidad, estudiante de la carrera de Ingenieria Civil en Computación e informática. Ciudad natal: Antofagasta, Chile.</p>
        <div class="flex mt-4 md:mt-6">
            <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Contacteme</a>
        </div>
    </div>
</div>
